    <div class="outline-box"> 
     <div class="container text-center">
      <div class="row justify-content-md-center">
        <%= form_with model: Content.new, local: true do |f| %>
        <%= check_box :language, "Chinese" %>
        <%= f.label :language, "Chinese", class: "chinese" %>
        <%= check_box :language, "Italian" %>
        <%= f.label :language, "Italian", class: "italian" %>
      </div>
        
       <div class="container text-center">  
        <%= f.check_box :media_keyword, {}, :film%>
        <%= f.label :media_keyword, "映画", class: "film" %>
        <%= f.check_box :media_keyword, {}, :quote%>
        <%= f.label :media_keyword, "名言", class: "quote" %>
        <%= f.check_box :media_keyword, {}, :poetry%>
        <%= f.label :media_keyword, "詩", class: "poetry" %>
        <%= f.check_box :media_keyword, {}, :lyric, nil %>
        <%= f.label :media_keyword, "歌詞", class: "lyric" %>
      
        <%= f.submit "検索", class: "btn-white" %>
     <% end %>
      </div>
    </div>
        
          <div class="cernter-block">
            <div style="padding: 15px">
                <div class="col-xs-6 text-center">
                <%= form_with model: Content.new, local: true do |f| %>
                <%= f.check_box :title_name, {}, :title1, nil %>
                <%= f.label :title_name, "タイトル１", class: "title1" %>
                <%= f.check_box :title_name, {}, :title2%>
                <%= f.label :title_name, "タイトル２", class: "title2" %>
            
                
                <%= f.submit "検索", class: "btn-white" %>
                <% end %>
                </div>
              
          
                <div class="col-xs-6 text-center">
                <%= form_with model: Content.new, local: true do |f| %> 
                <%= f.check_box :contents_name, {}, :content1, nil %>
                <%= f.label :contents_named, "動画１", class: "content1" %>
                <%= f.check_box :contents_name, {}, :content2%>
                <%= f.label :contents_name, "動画２", class: "content2" %>
                
                <%= f.submit "検索", class: "btn-white" %>
                <% end %>   
                </div>
            </div>
          </div>
    </div>