<div class="container font-size:bold">
   <div class="top-hero-container">
    <div style="font-size:xx-large">
   <%= link_to :back do %>ðŸ”™<% end %>
   <br><%= params[:language] %>
   
    <% if params[:language] == "chinese" %>
      ðŸ‡¨ðŸ‡³
      <image_tag "kyogeki.png">
     <% elsif params[:language] == "italian" %>
      <image_tag "dante.png">
      ðŸ‡®ðŸ‡¹
     <% end %>
    </div>
   </div>
  
   <div class="split">
    <div class="split-item split-left">
     <div class="split-left__inner">
    
    
    
    <%= link_to 'æ˜ ç”»ã®ã‚»ãƒªãƒ•' ,media_path(language: params[:language], category: 'movie') %><br>
    <%= link_to 'åè¨€' ,media_path(language: params[:language], category: 'quote') %><br>
    <%= link_to 'è©©' ,media_path(language: params[:language], category: 'poetry') %><br>
    <%= link_to 'æ­Œè©ž' ,media_path(language: params[:language], category: 'lyric') %><br>
    <br>
       
      </div><!--split-left__inner-->
     </div><!--split-item split-left-->
    
   
    <div class="split-item split-right">
     <div class="split-right__inner">

    <% @media.each do |medium| %>
    <%= link_to medium.name, medium_path(medium) %><br>
    <% end %>

     </div><!--split-right__inner-->
    </div><!--split-item split-right-->
   </div><!--split-->
  </div><!--topcontaine-->