<div class="container font-size:bold">
   <div style="font-size:xx-large">
   <%= link_to 'pages' do %>HOME<% end %>
   <%= link_to :back do %>ðŸ”™<% end %><br>
   
   <div style="font-size:25px">
      <div class="buruburu5s">
      <% if params[:language] == "chinese" %>
      ðŸ‡¨ðŸ‡³
      <% elsif params[:language] == "italian" %>
      ðŸ‡®ðŸ‡¹
      <% end %>
      </div>
      <% if params[:language] == "chinese" %>
      CHINESE
      <% elsif params[:language] == "italian" %>
      ITALIAN
      <% end %>
     </div>
    </div>
   
   
   <div class="split">
     <div id="content">
      <div class="split-item split-left">
       <div id="main">
    <b>
    <%= link_to 'æ˜ ç”»ã®ã‚»ãƒªãƒ•' ,media_path(language: params[:language], category: 'movie') %><br>
    <%= link_to 'åè¨€' ,media_path(language: params[:language], category: 'quote') %><br>
    <%= link_to 'è©©' ,media_path(language: params[:language], category: 'poetry') %><br>
    <%= link_to 'æ­Œè©ž' ,media_path(language: params[:language], category: 'lyric') %><br>
    </b><br>
       </div><!--main-->
      </div><!--split-item split-left-->
    
   
      <div class="split-item split-right">
      <nav>
        <% @media.each do |medium| %>
        <%= link_to medium.name, medium_path(medium) %><br>
        <% end %>
      </nav>
      </div><!--split-item split-right-->
      </div><!--containt-->
    </div><!--split-->
    
</div><!--container-->
